<%= simple_form_for @image,
                    wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>
  <%= f.input :title %>
  <%= f.input :tag_list, label:'Edit Tag(s)', input_html: { value: @image.tag_list.to_s } %>
  <%= f.button :submit, class: 'btn-primary' %>
<% end %>
<span id="url"><%= image_tag @image.url %></span>
