
<h1 id="page-header">
  All Images
</h1>

<% flash.keys.each do |key| %>
  <div class="alert alert-<%=key %>"><%= flash[key] %></div>
<% end %>

<%= link_to "Add your own images", new_image_path %>
<div class="alert alert-info" role="alert">
  Filter Status: <%= @filter_msg %>
</div>
<div class="row">
  <% @images.each do |img| %>
        <div class="col-sm-auto">
          <div class="card" id="image-in-card">
            <%=image_tag(img.url, size: 400, class: 'card-img-top mx-auto')%>
            <div class="card-block">
              <h3 class="card-title"><%= img.title %></h3>
              <p class="card-text" id="tags">
                <% if img.tag_list.empty? %>
                  No Tag
                <% else %>
                  <% img.tag_list.each do |t| %>
                    <%= link_to t, {action: 'index', tag_filter: t}, method: :get, class: 'btn btn-outline-primary'%>
                  <% end %>
                <% end %>
              </p>
              <%=link_to 'Delete', image_path(img), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
              <%=link_to 'View', image_path(img), method: :get, class: 'btn btn-primary' %>
              <%=link_to 'Edit', edit_image_path(img), method: :get, class: 'btn btn-primary' %>
              <%=link_to 'Share', images_path, class: 'btn btn-primary', data: {toggle: "modal", target: "#myModal", title: img.title, url:img.url} %>
            </div>
          </div>
        </div>
  <% end %>
</div>
<%=render partial: 'images/modal' %>
<% content_for :javascript  do %>
  <%= javascript_include_tag 'images/index/index', type: 'module'%>
<% end %>
