<% flash.keys.each do |key| %>
  <div class="alert alert-<%= key %>"><%= flash[key] %></div>
<% end %>

<p>
  <strong>Title:</strong>
  <span id="title"><%= @image.title %></span>
</p>

<p>
  <strong>Tags:</strong>
  <span id="tag"><%=@image.tag_list%></span>
</p>

<p>
  <strong>Image:</strong><br/>
  <span id="url"><%= image_tag @image.url %></span>
</p>

<%=link_to 'Delete', image_path(@image.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger'%>
